%dl
  %dt Source Full Name:
  %dd
    =ext_link_to(source.full_name, source.site_url)
  %dt Source Display Name:
  %dd=source.source_db_name
  %dt Full Citation:
  %dd=source.citation
  %dt Genes
  %dd="Total: #{source.gene_claims.size}"
  %dd="In Groups: #{source.gene_claims_in_groups_count}"
  %dt Drugs
  %dd="Total: #{source.drug_claims.size}"
  %dd="In Groups: #{source.drug_claims_in_groups_count}"
  %dt Interactions
  %dd="Total: #{source.interaction_claims.size}"
