%dl
  %dt Source Full Name:
  %dd
    =ext_link_to(source.full_name, source.homepage)
  %dt Full Citation:
  %dd=source.full_citation
  %dt Genes
  %dd="Total: #{source.genes_in_source}"
  %dd="In Groups: #{source.genes_in_groups}"
  %dt Drugs
  %dd="Total: #{source.drugs_in_source}"
  %dd="In Groups: #{source.drugs_in_groups}"
  %dt Interactions
  %dd="Total: #{source.interactions_in_source}"
