#notice= notice
=content_for :title, @title

.container-fluid
  .page-header
    %h2
      =@title
      %small source summary page
  .row-fluid
    .span12
      .hero-unit
        %dl
          %dt Source Full Name:
          %dd
            %a{href: @source.homepage}=@source.full_name
          %dt Full Citation:
          %dd=@source.full_citation
          %dt Genes
          %dd="Total: #{@source.genes_in_source}"
          %dd="In Groups: #{@source.genes_in_groups}"
          %dt Drugs
          %dd="Total: #{@source.drugs_in_source}"
          %dd="In Groups: #{@source.drugs_in_groups}"
          %dt Interactions
          %dd="Total: #{@source.interactions_in_source}"
