.well
  %em Gene Alternate Name
  %p
    %strong=link_to r.alternate_name, "/genes/#{r.gene.citation.source_db_name}/#{r.gene.name}"
    %p="Gene:  #{r.gene.name} from #{r.gene.citation.source_db_name} version #{r.gene.citation.source_db_version}"
