.well
  %em Gene Claim Alias
  %p
    %strong=link_to r.alias, "/gene_claims/#{r.gene_claim.source.source_db_name}/#{r.gene_claim.name}"
    %p="Gene:  #{r.gene_claim.name} from #{r.gene_claim.source.source_db_name} version #{r.gene_claim.source.source_db_version}"
