/ special partial for summary tab of interaction view
/ displays main interaction info, other info, and publications
/ - card layout, just like gene drug summary tab
/ - main info in one column? then same 2nd column as gene drug summary tab? so main info replaces aliases?

%div(class="item-title")
  %div(class="item-name")
    %h3(class="item-source")
      %a{href: "/drugs/#{interaction.drug.name}"} 
        =interaction.drug.name
      %i{class: "fa fa-play", "aria-hidden" => "true", style: "margin-left: 10px; margin-right: -8px"}
      &nbsp
      %a{href: "/genes/#{interaction.gene.name}"} 
        =interaction.gene.name 

%div(class="item-content")
  %div{class: "cell category", style: "float: left; width: 50%" }
    %div{class: "item-panel", style:"margin-bottom: 10px"}
      %h4
        Main Info:
      %table{class: "table table-condensed table-striped", style: "display: block; table-layout:fixed; width: 650px; height: 105px", id: "table_aliases"}
        %tr
          %td{style: "width: 225px"}="Gene"
          %td{style: "width: 425px"}
            %a{href: "/genes/#{interaction.gene.name}"} 
              =interaction.gene.name
        %tr
          %td{style: "width: 275px"}="Drug"
          %td{style: "width: 375px"}
            %a{href: "/drugs/#{interaction.drug.name}"} 
              =interaction.drug.name
        %tr
          %td{style: "width: 275px"}="Interaction Types"
          %td{style: "width: 375px"}=interaction.interaction_types.map{|it| it.type}.join(", ")
    %div(class="item-panel")
      %h4
        Publications:
      %table{class: "table table-condensed table-striped", style: "display: block; height: 305px; overflow-y: scroll", id:"table_publications"}
        -interaction.publications.each do |publication|
          %tr
            %td{style: "width: 700px"}
              %a{href: PMID.pubmed_url(publication.pmid)}
                = publication.citation
  %div{class: "cell category", style: "float: right; width: 50%"}
    %div(class="item-panel")
      %h4
        Other Info:
      %table{class: "table table-condensed table-striped", style: "display: block; table-layout:fixed; width: 650px; height: 472px; overflow-y: scroll", id: "table_aliases"}
        -interaction.interaction_attributes.each do |attribute|
          %tr
            %td{style: "width: 50%"}=attribute.name
            %td{style: "width: 50%"}=attribute.value
