-#takes in variable for type of claim (drug/gene/interaction)

-#lists all claims in summary form (so renders list of claim summary partial)

-#similar to _drug.html.haml or _gene.html.haml but has variable claim type

/ - entity = gene || drug 

/ %ul(class="result-list" id="list-results")
/ 	-# can we make drug claims and gene claims just have claims instead of interaction_claims and drug claims
/   -entity.claims.sort_by{ |d| d.sort_value }.each do |claim| # sort by what?
/   -# are these classes necessary? doing what one expects? could run into some issues since it used to be drug_claim instead of interaction
/     %li(class="#{claim.source.source_type.type}" data-category="#{claim.source.source_type.type}" data-name="#{claim.source.source_type.display_name}")
/       =render partial: 'shared/claim_summary_tab', locals: { claim: claim }

- if defined? drug
	%ul(class="result-list" id="list-results")
		-drug.drug_claims.sort_by{ |d| d.sort_value }.each do |drug_claim|
			%li(class="#{drug_claim.source.source_type.type}" data-category="#{drug_claim.source.source_type.type}" data-name="#{drug_claim.source.source_type.display_name}")
				=render partial: 'drug_claims/drug_claim_summary', locals: { drug_claim: drug_claim }
- elsif defined? gene
	%ul(class="result-list" id="list-results")
		-gene.gene_claims.sort_by{ |d| d.sort_value }.each do |gene_claim|
			%li(class="#{gene_claim.source.source_type.type}" data-category="#{gene_claim.source.source_type.type}" data-name="#{gene_claim.source.source_type.display_name}")
				=render partial: 'gene_claims/gene_claim_summary', locals: { gene_claim: gene_claim }
- else
	%ul(class="result-list" id="list-results")
		-interaction.interaction_claims.each do |interaction_claim|
			%li(class="#{interaction_claim.source.source_type.type}" data-category="#{interaction_claim.source.source_type.type}" data-name="#{interaction_claim.source.source_type.display_name}")
				=render partial: 'interaction_claims/interaction_claim_summary', locals: { interaction_claim: interaction_claim }