- cache gene do
  %div(class="item-title")
    %div(class="item-name")
      %h3(class="item-source")
        %span
          = "Search Term: " + "\"" + gene + "\""
        %i{class: "fa fa-play", "aria-hidden" => "true", style: "margin-left: 10px; margin-right: -8px"}
        &nbsp
        %a{href: "/genes/#{gene}#_interactions"}
          = gene


  %div(class="item-content")
    %div(class="cell category")
      %div{class: "item-panel"}
        %h4{style: "display: inline-block;"}
          %table{class: "search_panel table table-condensed table-striped", style: "table-layout:fixed;"}
            %tr
              %th
                Drug
              %th
                Interaction Type
              %th
                Source Count
              %th
                PMID Count
              %th
                Score
            %tbody
            - interactions = DataModel::Gene.find_by(name: gene).interactions
            - interactions.each do |interaction|
              %tr
                %td
                  %a{href: "/drugs/#{interaction.drug.name}"}
                    = interaction.drug.name
                %td
                  = interaction.interaction_types.map{|t| t.type}.join(", ")
                %td
                  = (source_count = interaction.interaction_claims.count)
                %td
                  = (pub_count = interaction.publications.count)
                %td
                  = source_count + pub_count
          %button{class: "show-all", style: "margin-top: 5px"}
            Show All
          %button{class: "show-more", style: "margin-top: 5px"}
            Show More
          %button{class: "show-less", style: "margin-top: 5px"}
            Show Less
          %span{style: "display: inline-block; margin-top: 5px; margin-left: 5px"}
            Showing 
            %span#nrows
              = [10, interactions.length].min
            %span 
              = "out of #{interactions.length} Interactions"

