- definite_matches = definite_results + definite_no_interactions
%div{style: "float: right; margin-top: -15px; width: 20%"}
  = render partial: 'shared/page_export'
  %div.alert.alert-error.well{style: "margin-top: 15px; padding-right: 20px; width: 200px;"}
    %h3{style: "margin-top: -5px;"}
      Preset Filters
    %ul
    - [@preset_fda, @preset_neo, @preset_immuno, @preset_clin, @preset_resist, @preset_druggable].reject { |c| c.empty? }.each do |preset|
      %li
        = preset

  %div.well{style: "margin-top: -5px; padding-right: 20px; width: 200px;"}
    %h3{style: "margin-top: -5px;"}
      Unique Matches
    %div
    - if definite_matches.count > 0
      - definite_matches.each do |result|
        %div
        - result[:identifiers].each do |entity|
          %input{class: "unique sidebar-toggle", type: "checkbox", name: "#{entity.name + "-unique"}", checked: 1}
            = "Search Term: " + result[:term]
    - else
      %i 
        None found.

%div{style: "float: left; width: 78%;"}
  %ul(class="result-list" id="list-results")
    - if definite_matches.count > 0
      - definite_matches.each do |result|
        - result[:identifiers].each do |entity|
          %li{class: "interaction interaction-panel", "data-category" => "interaction", "data-name" => "Interaction", id: entity.name + "-unique", style: "width: 100%;"}
            = render partial: 'interaction_claims/interactions_search_panel', locals: { term: result[:term], entity: entity, filtered_interactions: result[:interactions][entity].to_a, scores: result[:scores] }
    - else 
      %li{class: "interaction interaction-panel", "data-category" => "interaction", "data-name" => "Interaction", style: "width: 100%; height: 300px;"}
        %h3{style: "margin-left: 20px;"}
          None of your search terms returned 
          %i 
            unique 
          matches.

