- ambiguous_matches = ambiguous_results + ambiguous_no_interactions
%div{style: "float: right"}
  %div.well{style: "margin-top: 15px;"}
    %h3{style: "margin-top: -5px;"}
      Unmatched Terms
    - failed_terms.each do |term|
      %li
        = term

  %div.well{style: "margin-top: -5px;"}
    %h3{style: "margin-top: -5px;"}
      Multiple Matches
    %div{style: "width: 200px; padding: 0", class: "container demo"}
      %div(class="panel-group" id="accordion" role="tablist" aria-multiselectable="true")
        %div(class="panel panel-default")
        - ambiguous_matches.each do |result|
          %div{class: "panel-heading", role: "tab", id: "#{'heading' + result[:term]}"}
            %h4(class="panel-title")
              %a{role: "button", "data-toggle" => "collapse", "data-parent" => "#accordion", href: "#{'#collapse' + result[:term]}", "aria-expanded" => "true", "aria-controls" => "#{'collapse' + result[:term]}"}
                %i(class="more-less glyphicon glyphicon-plus")
                = "Search Term: " + result[:term]

          %div{id: "#{'collapse' + result[:term]}", class: "panel-collapse collapse", role: "tabpanel", "aria-labelledby" => "#{'heading' + result[:term]}"}
            %div{class: "panel-body"}
            - result[:identifiers].each do |entity|
              %div
                %input{class: "ambiguous sidebar-toggle", type: "checkbox", name: "#{entity.name + "-ambiguous"}", checked: 1}
                  = entity.name

%div{style: "float: left; width: 1100px"}
  %ul(class="result-list" id="list-results")
    - ambiguous_matches.each do |result|
      - result[:identifiers].each do |entity|
        %li{class: "interaction interaction-panel", "data-category" => "interaction", "data-name" => "Interaction", id: entity.name + "-ambiguous", style: "display: list-item;"}
          = render partial: 'interaction_claims/interactions_search_panel', locals: { term: result[:term], entity: entity, filtered_interactions: result[:interactions] }
:javascript
  function toggleIcon(e) {
    $(e.target)
      .prev('.panel-heading')
      .find(".more-less")
      .toggleClass('glyphicon-plus glyphicon-minus');
  }
  $('.panel-group').on('hidden.bs.collapse', toggleIcon);
  $('.panel-group').on('shown.bs.collapse', toggleIcon);
