- if @search_mode == "genes" 
  - entity = GenePresenter.new(entity)
- else
  - entity = DrugPresenter.new(entity)

- cache entity do
  %div(class="item-title")
    %div(class="item-name")
      %h3(class="item-source")
        %span
          = "Search Term: " + "\"" + term + "\""
        %i{class: "fa fa-play", "aria-hidden" => "true", style: "margin-left: 10px; margin-right: -8px"}
        &nbsp
        - if @search_mode == "genes"
          %a{href: "/genes/#{entity.name}#_interactions"}
            = entity.name
        - else 
          %a{href: "/drugs/#{entity.name}#_interactions"}
            = entity.name

  %div(class="item-content")
    %div(class="cell category")
      %div{class: "item-panel"}
        %h4{style: "display: inline-block;"}
          - interactions = entity.sorted_interactions_by_score & filtered_interactions
          - if interactions.count > 0
            %table{class: "search_panel table table-condensed table-striped", style: "table-layout:fixed;"}
              %tr
                %th{style: "width: 24%;"}
                  - if @search_mode == "genes"
                    Drug
                  - else 
                    Gene
                %th{style: "width: 19%;"}
                  Interaction Type
                %th{style: "width: 24%;"}
                  Sources
                %th{style: "width: 24%;"}
                  PMIDs
                %th{style: "width: 9%;"}
                  Score
              %tbody
              - interactions.each do |interaction|
                %tr
                  %td{style: "width: 24%; word-break:break-all"}
                    - if @search_mode == "genes" 
                      %a{href: "/drugs/#{interaction.drug.name}"}
                        = interaction.drug.name
                    - else
                      %a{href: "/genes/#{interaction.gene.name}"}
                        = interaction.gene.name
                  %td{style: "width: 19%;"}
                    = interaction.interaction_types.map{|t| t.type}.join(", ")
                  %td{style: "width: 24%;"}
                    
                    %a
                      = (source_count = interaction.interaction_claims.count) - 2 > -1 ? "(#{source_count - 2} More)" : "(0 More)"
                  %td{style: "width: 24%;"}
                    %a
                      = (pub_count = interaction.publications.count) - 2 > -1 ? "(#{pub_count - 2} More)" : "(0 More)"
                  %td{style: "width: 9%;"}
                    = source_count + pub_count
            %button{class: "show-all", style: "margin-top: 5px"}
              Show All
            %button{class: "show-more", style: "margin-top: 5px"}
              Show More
            %button{class: "show-less", style: "margin-top: 5px"}
              Show Less
            %span{style: "display: inline-block; margin-top: 5px; margin-left: 5px"}
              Showing 
              %span#nrows
                = [10, interactions.length].min
              %span 
                = "out of #{interactions.length} Interactions"
          - else
            No interactions found.



