#summary.well
  %h3 
    Search Results Summary
    %small
      %strong
        %i.icon-flag.tip{title: tx("search_results_summary_flag")}
  %small
    %strong
      %em Summary genes mapped and drug interactions found for those genes 
  %p
  %ul.unstyled
    %li="Search Terms Entered: #{results.number_of_search_terms.to_s}"
    %li="Search Terms Matched Definitely: #{results.number_of_definite_matches.to_s}"
    %li="Search Terms Matched Ambiguously: #{results.number_of_ambiguous_matches.to_s}"
    %li="Search Terms With No Matches: #{results.number_of_no_matches.to_s}"
    %li="Number Of Interactions For Definite Matches: #{results.number_of_definite_interactions.to_s}"
    %li="Number Of Interactions For Ambiguous Matches: #{results.number_of_ambiguous_interactions.to_s}"
    %li="Number Of Search Terms With At Least One Interaction: #{results.number_of_search_terms_with_at_least_one_interaction.to_s}"
