/ takes in variable for type of summary (gene or gene)
/ displays lists of aliases, gene/gene info, publications
/ figure out how to get "card" aesthetic

%div(class="item-content")
  %div{class: "cell category", style: "float: right; width: 50%"}
    %div(class="item-panel")
      %h4
        Alternate Names:
      %table{class: "table table-condensed table-striped", style: "display: block; height: 494px; overflow-y: scroll", id: "table_aliases"}
        - gene.gene_aliases.each do |alt_name|
          %tr
            %td{style: "width: 100%"}
              =alt_name.alias

  %div{class: "cell category", style: "float: left; width: 50%" }
    %div{class: "item-panel", style:"margin-bottom: 10px"}
      %h4
        Gene Info:
      %table{class: "table table-condensed table-striped", style: "display: block; height: 200px; table-layout:fixed; overflow-y: scroll", id:"table_info"}
        - gene.gene_attributes.each do |attribute|
          %tr
            %td{style: "width: 50%"}
              =attribute.name
            %td{style: "width: 50%"}
              =attribute.value
      %div#linkouts
        - gene.gene_claims[0..3].each do |gc|
          %button{class: "button", type: "button", style:"background-color: #e7e7e7; border: none; margin-bottom: 4px", onclick:"location.href='#{gc.original_data_source_url}';"}
            = gc.source.source_db_name
        %a#more{style: "display: inline-block; margin-left: 5px; cursor: pointer"}
          - num_left = (gene.gene_claims.count - 4 > 0 ? gene.gene_claims.count - 4 : 0)
          = "(#{num_left} More Sources)"

    %div(class="item-panel")
      %h4
        Publications:
      %table{class: "table table-condensed table-striped", style: "display: block; height: 200px; table-layout:fixed; overflow-y: scroll", id:"table_publications"}
        -gene.publications.each do |publication|
          %tr
            %td{style: "width: 100%"}
              %a{href: PMID.pubmed_url(publication.pmid)}
                = publication.citation
              
:javascript
  var remaining = 252 - 20 - $('#linkouts')["0"].offsetHeight
    $('#table_info')["0"].style.height = remaining + "px";

  window.addEventListener('resize', function(){
    var remaining = 252 - 20 - $('#linkouts')["0"].offsetHeight
    $('#table_info')["0"].style.height = remaining + "px";
  })
  
  $("a#more").click(function () {
    $('a[href="' + "#" + "claims" + '"]').trigger('click');
    return true;
  }); 
:css
  div button:hover {
      background-color: #330066!important;
      color: white;
  }
