#summary.well{style: "margin-left: 30px;"}
  %h3 
    Search Results Summary
    %small
      %strong
        %i.icon-flag.tip{title: tx("search_results_summary_flag")}
  %small
    %strong
      %em Summary of the attempt to map gene names supplied by the user to gene records in DGIdb.
  %p
  %ul.unstyled
    %li="Search Terms Entered: #{results.number_of_search_terms.to_s}"
    %li="Search Terms Matched Definitely: #{results.number_of_definite_matches.to_s}"
    %li="Search Terms Matched Ambiguously: #{results.number_of_ambiguous_matches.to_s}"
    %li="Search Terms With No Matches: #{results.number_of_no_matches.to_s}"
    %li="Time Spent In Database: #{results.time_elapsed}"
